@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


/*----------- header------------ */
.main-row{
    background-color: #916c6c3d;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.links{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 10px;
    font-family: sans-serif;
}

#konto{
    text-decoration: none;
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
    font-size: 1.8rem;
}

#logo{
    height: 100px;
}


.coll2{
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

.col-6{
    display: flex;
    flex: 0 0 auto;
    width: 50%;
}

.texto{
    justify-content: space-evenly;
    align-items: center;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

/* main-view MAIN ZDJĘCIE*/
.main-view{
    width: 100%;
    height: 100vh;
    background: url("/images/z.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
  .main-view::after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

  .demo-content{
    width: 100%;
    height: 10vh;
    background-color: rgb(90, 82, 82);
  }
  /* main-view MAIN ZDJĘCIE*/
  /* media MAIN ZDJĘCIE*/
@media only screen and (max-width:700px){
.main-view{
    width: 100%;
    height: 100vh;
    background: url("/images/y.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}}

.header{
    background-color: #050505e0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
/*----------- header------------ */
/*----------- User Add Car------------ */

.tp1{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0020ff;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.test{
    padding: 5%;
    border-radius: 25px;
}
.widt{
    width: 500px;
}

.testujemy{
    width: 100%;
    margin-top: 10vh;
}

.form{
    background-color: #ddd5d53d;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.imagdown{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.obrazek{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

/*----------- User Add Car------------ */


.testbox{
    border: solid 1px rgba(167, 167, 167, 0.425);
    margin-bottom: 1vh;
    border-radius: 10px;
}


.containerek{
    height: 40vh;
    margin-top: 10%;
}

.containerek2{
    height: 10vh;
    margin-left: 15%;
    margin-right: 15%;
}

.imagecar{
    height: 200px;
    width: 100%;
    float: left;
    object-fit: cover;
}

.img-thumbnail2 {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.czcionka{
    line-height: 10px;
    font-weight: 500;
    color: #727480;
    font-weight: 600;
    padding: 16px 0 0 16px;
}

.czcionka2{
    line-height: 10px;
    font-weight: 500;
    color: #727480;
    font-weight: 600;
    padding: 16px 0 0 16px;
    display: flex;
}


.columnflex{
    flex: 1 0 0%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.textcol{
    display: flex;
    flex-direction: column;
}

.price{
    color: red;
    font-weight: 700;
}
